.watermark
{
	padding-top: 20px;
	float:left;
}

body
{
	background-color:#FFF;
	padding-top: 20px;
	padding-left: 20px;
}

header{}

section{}

a { text-decoration: none; }

a:hover 
{ text-decoration: underline; }

a:visited{}

nav
{
	float: right;
	white-space: nowrap;
}

nav ul{}

nav ul li
{
	list-style-type: : none;
	display: inline;
	padding-right: 5px;
}

a.signup_button
{
	display: block;
	text-align: center;
	background: #FF8C00;
	font-weight: bold;
	width: 90px;
	color:black;
	padding: 2px;
	margin-left: 4px;
}

.round
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

footer
{
	margin-top:180px;  /* 40px without gif */
	position: absolute;
	float: left;
	width: 140px;
	height:20px;
	/* if want to center .... margin-left: auto; margin-right: auto; */
}

footer nav
{
	text-align:left;
}

#indent
{
	margin-left: 15px;
}

#indent2
{
	margin-left: 10px;
}

#UserProfileHeader
{
	font-size:2.75em;line-height:1;margin-bottom:0.5em;	
	white-space: nowrap;
}

#register
{
	margin-left: 10px;
	margin-bottom: 15px;
}

.gravatar
{
	border: 1px solid #000;
	margin-bottom: -10px;
}

.debug 
{
margin-top:250px;  /* gif + footer */
position: relative;
}

.sidebar {
float: right;
/*width: 175px;	*/
height: 100px;  /* arbitrary */
margin-right: 15px;
padding-left: 10px;
padding-top: 15px;
/*background-color:#BEBEBE;    for testing*/ 
}

.field_with_errors{}

#register br
{
	display: none;
}

.field_with_errors label
{
	color: #FF8C00;
}

/* #signUpBtn2 */
#Btn2
{
	margin-top: 5px;
}

#signupError li
{
	margin-left:15px;
}

#signupError h3
{
	margin-left:10px;
}

.success
{
	background: #e6efc2;
	color: #264409;
	font-weight: bold;
	border-color: #c6d880;
	margin-top:20px;
	margin-right: 15px;

}

.error
{
	background:#fbe3e4;
	color:#8a1f11;
	border-color:#fbc2c4;
	margin-top:20px;
	margin-right: 15px;
}

#editPic
{
	vertical-align:-5px;
}

.editPic
{
	margin-left: 10px;
	margin-bottom: 5px;
}